nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
	div.container
		a.navbar-brand.js-scroll-trigger(href='#page-top')= title
		button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		div#navbarResponsive.collapse.navbar-collapse
			ul.navbar-nav.ml-auto.my-2.my-lg-0
				li.nav-item: a.nav-link.js-scroll-trigger(href='#details') The Details
				li.nav-item: a.nav-link.js-scroll-trigger(href='#us') Us
				li.nav-item: a.nav-link.js-scroll-trigger(href='#story') Our Story
				if rsvpEnabled
					li.nav-item: a.nav-link.js-scroll-trigger(href='#rsvp') RSVP