section#registries.less-padding
	div.container.text-center
		h2.mb-4 Registries
		div.container.text-center
			div.row.justify-content-around.align-items-center
				div.col-lg-4.my-4.my-lg-0
					a.registry-link(href='https://www.amazon.com/wedding/share/dobby-wedding'): img.logo(src='img/amazon.png')
				div.col-lg-4.my-4.my-lg-0
					a.registry-link(href='http://tgt.gifts/dobby-wedding'): img.logo(src='img/target.png')
				div.col-lg-4.my-4.my-lg-0
					a.registry-link(href='https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/547703724?eventType=Wedding'): img.logo(src='img/bbb.png')