section#story.page-section
	div.container
		h2.text-center.mt-0 Our Story
		hr.divider.my-4
		div.row
			div.col-lg-3.col-md-6.text-center
				div.mt-5
					i.fas.fa-4x.fa-heart.text-primary.mb-4
					h3.h4.mb-2 We Fell in Love
			div.col-lg-3.col-md-6.text-center
				div.mt-5
					i.fas.fa-4x.fa-gem.text-primary.mb-4
					h3.h4.mb-2 We Got Engaged
			div.col-lg-3.col-md-6.text-center
				div.mt-5
					i.fas.fa-4x.fa-female.text-primary.mb-4
					i.fas.fa-4x.fa-male.text-primary.mb-4
					h3.h4.mb-2 We're Getting Married
			div.col-lg-3.col-md-6.text-center
				div.mt-5
					i.fas.fa-4x.fa-beer.text-primary.mb-4
					h3.h4.mb-2 So Come Celebrate with&nbsp;Us!
		h4.divider.my-4
		div.text-muted.text-justify!= typogr(contents['story.md'].html).typogrify()