section#story.page-section
	div.container
		h2.text-center.mt-0 Our Story
		hr.divider.my-4
		div.row
			div.col-lg-4.col-md-6.text-center
				div.mt-5
					i.fas.fa-4x.fa-heart.text-primary.mb-4
					h3.h4.mb-2 We Fell in Love
					p.text-muted.mb-0 Blah blah
			div.col-lg-4.col-md-6.text-center
				div.mt-5
					i.fas.fa-4x.fa-gem.text-primary.mb-4
					h3.h4.mb-2 We Got Engaged
					p.text-muted.mb-0 &ellips; surprise?
			//- div.col-lg-3.col-md-6.text-center
			//- 	div.mt-5
			//- 		i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
			//- 			h3.h4.mb-2 Blah
			//- 			p.text-muted.mb-0 Blah
			div.col-lg-4.col-md-6.text-center
				div.mt-5
					i.fas.fa-4x.fa-beer.text-primary.mb-4
					h3.h4.mb-2 We're Getting Married
					p.text-muted.mb-0 So come celebrate with us!
		h4.divider.my-4
		div.text-muted.mb-5!= typogr(contents['story.md'].html).typogrify()