section#us
	div.container-fluid.p-0.shadow-lg
		div.row.no-gutters.text-center.justify-content-around.align-items-center
			each entry in gallery
				div.col-6.col-sm-auto
					a.photo-box(href='img/gallery/fullsize/' + entry.file)
						img.img-fluid.img-responsive.rounded-lg(src='img/gallery/thumbnail/' + entry.file, alt=entry.title)
						div.photo-box-caption
							div.photo-location.text-white-50=entry.where
							div.photo-title=entry.title