#details {
	background-color: $orange;

	.map-col {
		@include media-breakpoint-up(lg) {
			max-height: 50vh;
		}

		@include media-breakpoint-down(md) {
			min-width: 15rem;
			width: 50vw;

			height: calc((33vw + 40vh) / 2);
			max-height: 40vh;
		}
	}

	.details-col {
		a {
			color: inherit;
			text-decoration: underline;
		}

		p {
			margin-bottom: 0 !important;
		}
	}
}