// Variables

// Color overrides

$orange: #C2711B !default;
$brown: #5C5132 !default;
// $yellow: #F5B70A !default;
$yellow: #BD8C08 !default;
// $blue: #4FC9C9 !default;
//$blue: #358786 !default;
$red: #BA3F36 !default;
// $green: #0AF5B3 !default;
$green: #047050 !default;

$picture-shade: #5c4d42 !default;

// Set primary color to orange
$primary: $orange !default;

// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
