doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Bobby and Dina&apos;s Wedding!')
    meta(name='author', content='Robert Ferris')
    title= title
    //- link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
    //- link(href='vendor/magnific-popup/magnific-popup.css', rel='stylesheet', type='text/css')
    link(href='css/main.css', rel='stylesheet', type='text/css')
  body#page-top
    include partials/navbar.pug
    include partials/announcement.pug
    include partials/details.pug
    include partials/us.pug
    include partials/story.pug
    include partials/footer.pug
    script(src='js/main.js')
    //- script(src='vendor/jquery/jquery.min.js')
    //- script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    //- script(src='vendor/jquery-easing/jquery.easing.min.js')
    //- script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
    //- script(src='js/creative.min.js')